@font-face {
    font-family: 'Netflix Sans';
    src: url('assets/NetflixSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ovo';
    src: url('assets/Ovo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans', sans-serif;
    background-color: #F0F0E0;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1000;
    text-align: left;
    cursor: pointer;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo.spin {
    animation: spinScale 1s ease forwards;
}

@keyframes spinScale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.nav-links {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1000;
    color: #F0F0E0;
    text-align: right;
}

.nav-links a {
    display: block;
    position: relative;
    color: #F0F0E0;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 5px;
    transition: color 0.3s ease;
}

@media (max-width: 600px) {
    .logo {
        left: 25px;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    .nav-links {
        top: 25px;
        right: 25px;
    }

    .nav-links a {
        font-size: 0.9rem;
    }
}

.nav-links a:hover {
    color: #ccc;
}

.nav-links a.bob-right {
    animation: bobRight 0.4s forwards;
}

@keyframes bobRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.nav-links a.bob-up {
    animation: bobUp 0.4s forwards;
}

@keyframes bobUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.nav-links a.bob-down {
    animation: bobDown 0.4s forwards;
}

@keyframes bobDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.cover-wrapper {
    position: relative;
    border: 0px solid #F0F0E0;
    transition: border-width 0.5s ease;
}

.cover-image {
    position: relative;
}

.cover-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation: bob 1s ease-in-out infinite;
}

@media (max-width: 600px) {
    .arrow {
        bottom: 100px;
    }
}

.arrow a {
    font-size: 4rem;
    color: #F0F0E0;
    text-decoration: none;
}

@keyframes bob {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.description {
    font-family: 'Ovo', serif;
    padding: 60px 120px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    text-align: left;
    color: #161E3F;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    padding: 60px 120px;
}

@media (max-width: 1200px) {
    .description {
        padding-left: 60px;
        padding-right: 60px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1000px) {
    .description {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
        padding-right: 10px;
        gap: 4px;
    }
}

.gallery div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery div:hover {
    transform: scale(1.03);
}

@media (max-width: 600px) {
    .gallery div {
        border-radius: 0px;
    }

    .gallery div:hover {
        transform: scale(1);
    }
}

.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .caption {
    opacity: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(600px, 80vw);
    background-color: #161E3F;
    z-index: 1000;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.popup .caption-section {
    font-family: 'Ovo', serif;
    background-color: #161E3F;
    color: #F0F0E0;
    text-align: center;
    padding: 25px;
    height: 100px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

@media (max-width: 600px) {
    .popup .caption-section {
        font-size: 0.9rem;
    }
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.5rem;
    color: #F0F0E0;
    cursor: pointer;
}

@media (max-width: 600px) {
    .popup .close-btn {
        top: 0px;
        right: 10px;
        font-size: 2rem;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    background-color: #161E3F;
    color: #F0F0E0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-left {
    font-family: 'Ovo', serif;
    flex: 1;
    text-align: left;
    padding: 0px 120px;
}

.footer-right {
    flex: 1;
    text-align: right;
    padding: 0px 120px;
}

@media (max-width: 1000px) {
    footer {
        padding: 50px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-left {
        text-align: left;
        padding: 0px 0px;
        width: 100%;
        margin-bottom: 5px;
    }

    .footer-right {
        text-align: left;
        padding: 10px 0px;
        width: 100%;
        margin-bottom: 5px;
    }
}

.back-to-top {
    background-color: #F0F0E0;
    color: #161E3F;
    border: none;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #F0F0E0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: #161E3F;
    color: #F0F0E0;
}

.back-to-top.bob-up {
    animation: buttonBobUp 0.4s forwards;
}

@keyframes buttonBobUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
